SGP_URL=https://foxfibrasp.sgp.net.br
SGP_APP=preencher-no-render
SGP_TOKEN=preencher-no-render
SESSION_SECRET=gere-um-texto-grande-aleatorio
DAILY_LIMIT=2
MAX_UPLOAD_BYTES=5242880
MAX_REQUEST_BYTES=14680064
PUBLIC_BASE_URL=
ALLOW_RENDER_HOST=true
ADMIN_USER=Gustavo
ADMIN_PASSWORD=preencher-no-render

PRECADASTRO_ATIVAR=true
CONTRACT_POP_ID=
CONTRACT_NAS_ID=
CONTRACT_PORTADOR_ID=
CONTRACT_FORMACOBRANCA_ID=
CONTRACT_VENCIMENTO_DIA=10
CONTRACT_VENCIMENTO_ID=
CONTRACT_MODOAQUISICAO=1
CONTRACT_OS_INSTALACAO=true
DEFAULT_MAP_LL=
PLANS_JSON={"300":{"id":10,"name":"300 Mega — R$ 89,99"},"500":{"id":9,"name":"500 Mega — R$ 89,99"},"700":{"id":29,"name":"700 Mega — R$ 89,99"},"900":{"id":28,"name":"900 Mega — R$ 99,99"}}
INSTALLATION_SERVICE_DESCRIPTION=

CONFIRMATION_EMAIL_ENABLED=false
